<template class="section-template">
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>Namuna</h1>
      <p>
        My experiments with javascript-based modeling.
      </p>
      <ul class="actions">
        <li><a href="#modeling" class="button scrolly">Start a New Model...</a></li>
      </ul>
    </div>
  </section>
</template>
